<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (ingredientAdded)="onIngredientAdd($event)"></app-shopping-edit>
        <hr style="margin-left: -1.5rem;">
        <ul class="list-group" style="margin-left: -1.5rem;">
            <a class="list-group-item" style="cursor: pointer;"
             *ngFor="let ingredient of ingredients; let i = index" 
             (click)="onEditItem(i)"
            >
             {{ ingredient.name }}&nbsp;{{ ingredient.amount }}
            </a>
        </ul>
    </div>
</div>