:host {
    display: flex;
    align-items: center;
    border: .15rem solid var(--color-grey-dark-3);
}

:host ::ng-deep input {
    margin-right: .4rem;
    margin-left: .4rem;
    flex: 1;
    height: 2.5rem;
    border: none;
    outline: none;
}

.icon {
    margin-left: .4rem;
    flex: 0 0 18%;
    background-color: #FFF;
}