<div class="header">
    <div class="header__main-content">
        <svg class="logo-icon">
            <use xlink:href="/assets/sprite.svg#icon-home"></use>
        </svg>
        <div class="shopping-cart">
            <svg class="shopping-cart__icon">
                <use xlink:href="/assets/sprite.svg#icon-key"></use>
            </svg>
            <span class="shopping-cart__number-item">13</span>
        </div>
    </div>
    <div class="header__user-nav">
        <a href class="user-nav__login" *ngIf="email$ | async as email; else info">{{email}}</a>
        <div class="dropdown-content">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            <a class="dropdown-item" >Logout</a>
        </div>
        <ng-template #info>
            <a href class="user-nav__login">Login</a>
        </ng-template>
    </div>
</div>