.admin-products, .admin-products:link, .admin-products:visited {

    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-grey-light-1);
    padding: 1rem 1.5rem;
    background-color: var(--color-primary);
    border-radius: 1rem;

}

.table {
    margin-top: 2rem;
}
